/*------------------------------------*\
    #FONT-WEIGHT
\*------------------------------------*/

// Choose your font-weights, depending on your font-family
// and which one you need.
$inuit-enable-font-weight--responsive--100:     true;
$inuit-enable-font-weight--responsive--200:     true;
$inuit-enable-font-weight--responsive--300:     true;
$inuit-enable-font-weight--responsive--400:     true;
$inuit-enable-font-weight--responsive--500:     true;
$inuit-enable-font-weight--responsive--600:     true;
$inuit-enable-font-weight--responsive--700:     true;
$inuit-enable-font-weight--responsive--800:     true;
$inuit-enable-font-weight--responsive--900:     true;