// Override of Prettify
// --------------------


pre.prettyprint {
    background-color: #fff;
    padding: 20px;
    &:target {
        display: block;
    }

    // modifier
    &--with-anchor {
        margin: -30px 0 40px 0;
        display: none;
    }
}

.prettyprint-anchor {
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
    margin: 10px 0 40px 0;
}

