<code>.btn</code>
{{#codeBlock}}
<button class="btn">Button</button>
{{/codeBlock}}
<hr>
<code>.btn--small</code>
{{#codeBlock}}
<button class=" btn  btn--small ">Button</button>
{{/codeBlock}}
<hr>
<code>.btn--large</code>
{{#codeBlock}}
<button class=" btn  btn--large ">Button</button>
{{/codeBlock}}
<hr>
<code>.btn--full</code>
{{#codeBlock}}
<button class=" btn  btn--full ">Button</button>
{{/codeBlock}}
<hr>
<code>.btn--pill</code>
{{#codeBlock}}
<button class=" btn  btn--pill ">Button</button>
{{/codeBlock}}
