<code>flag</code>
{{#codeBlock}}
    <div class="flag">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--tiny</code>
{{#codeBlock}}
    <div class=" flag  flag--tiny ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--small</code>
{{#codeBlock}}
    <div class=" flag  flag--small ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--large</code>
{{#codeBlock}}
    <div class=" flag  flag--large ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--huge</code>
{{#codeBlock}}
    <div class=" flag  flag--huge ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--flush</code>
{{#codeBlock}}
    <div class=" flag  flag--flush ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--rev</code>
{{#codeBlock}}
    <div class=" flag  flag--rev ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--top</code>
{{#codeBlock}}
    <div class=" flag  flag--top ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--bottom</code>
{{#codeBlock}}
    <div class=" flag  flag--bottom ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}
<hr>
<code>flag--responsive</code>
{{#codeBlock}}
    <div class=" flag  flag--responsive ">
        <div class="flag__img">
            <img src="http://placehold.it/200x300/dddddd/4a8ec2">
        </div>
        <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero
            eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
    </div>
{{/codeBlock}}