<code>.table</code>
{{#codeBlock}}
<table class="table">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--fixed</code>
{{#codeBlock}}
<table class=" table  table--fixed ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--compact</code>
{{#codeBlock}}
<table class=" table  table--compact ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--cosy</code>
{{#codeBlock}}
<table class=" table  table--cosy ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--comfy</code>
{{#codeBlock}}
<table class=" table  table--comfy ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--rows</code>
{{#codeBlock}}
<table class=" table  table--rows ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--columns</code>
{{#codeBlock}}
<table class=" table  table--columns ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
<hr>
<code>.table--cells</code>
{{#codeBlock}}
<table class=" table  table--cells ">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>
{{/codeBlock}}
