

<style>
    p.demo {
        border: 1px dashed #d9d9d9;
        line-height: 60px;
    }
</style>


<code>.md-icon</code>
{{#codeBlock}}
<p class="demo">
    <span class="md-icon">watch_later</span>
    Lorem Ipsum Dolo et
</p>
<!-- For IE9 or below. -->
<p class="demo">
    <span class="md-icon">&#xE924;</span>
    Lorem Ipsum Dolo et
</p>

{{/codeBlock}}
<hr>

<h3>Modifiers</h3>


<code>.md-icon--top</code>
{{#codeBlock}}
    <p class="demo">
        <span class="md-icon md-icon--top">watch_later</span>
        Lorem Ipsum Dolo et
    </p>

    <p class="demo" style="text-align: center">
        <span class="md-icon md-icon--top">watch_later</span>
        Lorem Ipsum Dolo et
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--tiny-right</code>
{{#codeBlock}}
    <p class="demo">
        <span class="md-icon md-icon--tiny-right">watch_later</span>
        Lorem Ipsum Dolo et
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--small-right</code>
{{#codeBlock}}
    <p class="demo">
        <span class="md-icon md-icon--small-right">watch_later</span>
        Lorem Ipsum Dolo et
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--large-right</code>
{{#codeBlock}}
    <p class="demo">
        <span class="md-icon md-icon--large-right">watch_later</span>
        Lorem Ipsum Dolo et
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--huge-right</code>
{{#codeBlock}}
    <p class="demo">
        <span class="md-icon md-icon--huge-right">watch_later</span>
        Lorem Ipsum Dolo et
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--tiny-left</code>
{{#codeBlock}}
    <p class="demo">
        Lorem Ipsum Dolo et
        <span class="md-icon md-icon--tiny-left">watch_later</span>
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--small-left</code>
{{#codeBlock}}
    <p class="demo">
        Lorem Ipsum Dolo et
        <span class="md-icon md-icon--small-left">watch_later</span>
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--large-left</code>
{{#codeBlock}}
    <p class="demo">
        Lorem Ipsum Dolo et
        <span class="md-icon md-icon--large-left">watch_later</span>
    </p>
{{/codeBlock}}
<hr>
<code>.md-icon--huge-left</code>
{{#codeBlock}}
    <p class="demo">
        Lorem Ipsum Dolo et
        <span class="md-icon md-icon--huge-left">watch_later</span>
    </p>
{{/codeBlock}}





