<code>pack</code>
{{#codeBlock}}
<div class="pack">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--tiny</code>
{{#codeBlock}}
<div class=" pack  pack--tiny ">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--small</code>
{{#codeBlock}}
<div class=" pack  pack--small ">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--large</code>
{{#codeBlock}}
<div class=" pack  pack--large ">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--huge</code>
{{#codeBlock}}
<div class=" pack  pack--huge ">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--auto</code>
{{#codeBlock}}
<div class=" pack  pack--auto ">
    <div class="pack__item">
        FooBarBaz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--rev</code>
{{#codeBlock}}
<div class=" pack  pack--rev ">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--middle</code>
{{#codeBlock}}
<div class=" pack  pack--middle ">
    <div class="pack__item">
        Foo<br>
        Bar<br>
        Baz<br>
        Foo<br>
        Bar<br>
        Baz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}
<hr>
<code>pack--bottom</code>
{{#codeBlock}}
<div class=" pack  pack--bottom ">
    <div class="pack__item">
        Foo<br>
        Bar<br>
        Baz<br>
        Foo<br>
        Bar<br>
        Baz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
{{/codeBlock}}