<code>.box</code>
{{#codeBlock}}
    <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
<hr>
<code>.box--tiny</code>
{{#codeBlock}}
    <div class=" box  box--tiny ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
<hr>
<code>.box--small</code>
{{#codeBlock}}
    <div class=" box  box--small ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
<hr>
<code>.box--large</code>
{{#codeBlock}}
    <div class=" box  box--large ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
<hr>
<code>.box--huge</code>
{{#codeBlock}}
    <div class=" box  box--huge ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
<hr>
<code>.box--flush</code>
{{#codeBlock}}
    <div class=" box  box--flush ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam officiis, deserunt pariatur autem
            distinctio itaque natus asperiores delectus in, excepturi soluta ipsam dolore beatae voluptatibus assumenda
            totam perferendis cumque quod. Natus nemo voluptate eaque fuga maxime, quam, tempore distinctio deserunt!
            Recusandae sed fugit minus numquam sunt, magni at aut.</p>
    </div>
{{/codeBlock}}
