<code>.alpha</code>
{{#codeBlock}}
    <h1 class="alpha">Lorem ipsum</h1>
{{/codeBlock}}
<hr>

<code>.beta</code>
{{#codeBlock}}
    <h1 class="beta">Lorem ipsum</h1>
{{/codeBlock}}
<hr>

<code>.gamma</code>
{{#codeBlock}}
    <h1 class="gamma">Lorem ipsum</h1>
{{/codeBlock}}
<hr>

<code>.delta</code>
{{#codeBlock}}
    <h1 class="delta">Lorem ipsum</h1>
{{/codeBlock}}
<hr>

<code>.epsilon</code>
{{#codeBlock}}
    <h1 class="epsilon">Lorem ipsum</h1>
{{/codeBlock}}
<hr>

<code>.zeta</code>
{{#codeBlock}}
    <h1 class="zeta">Lorem ipsum</h1>
{{/codeBlock}}
<hr>
