# Temp files
temp/
tmp/
*~

# For Mac users
.DS_Store

# PHP-Storm project folder
*.idea/
.idea/

# Sublime project files
*.sublime-workspace
*.sublime-project

# SASS
.sass-cache/
*.css.map

# Node Dependencies
node_modules/

# Bower Dependencies
bower_components/

# Dist output
dist/

#gh-pages for web site
gh-pages/

npm-debug.log
nohup.out
selenium-debug.log

# exclued selenium.jar from GitHub it's 21MB!
nightwatch
nightwatch/selenium.jar
selenium-server-standalone*

# exclude chromedriver as its 12MB and changes frequently!
nightwatch/chromedriver

reports
screenshots
.env

sassdoc

