---
title: "_base.headings.scss"
source: "https://github.com/inuitcss/base.headings/blob/master/_base.headings.scss"
author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

package_name: "headings"
version: "0.3.1"

required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-mixins", url: "tools.mixins.html"}]
usages: [
]
tab_settings: "base.headings--settings"

---
<p>This module defines the font-sizes for your headings. It provides variables for you to override</p>
