---
title: "_base.page.scss"
source: "https://github.com/inuitcss/base.page/blob/master/_base.page.scss"


author: "Harry Roberts"
author_url: "https://github.com/csswizardry"


package_name: "inuit-page"
version: "0.2.1"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"}
]
usages: [
]
---


<p>The inuitcss page module is a very high-level module which styles very basic, global, page-level aspects such at the
    project’s base font-size and line-height.</p>


