---
title: "_base.paragraphs.scss"
source: "https://github.com/inuitcss/base.paragraphs/blob/master/_base.paragraphs.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-mixins", url: "tools.mixins.html"}
]
usages: [
]

package_name: "inuit-paragraphs"
version: "0.1.4"

tab_settings: "base.paragraphs--settings"

---
<p>The paragraphs module provides a <code>.lede</code> class, which font-size is slightly larger than <code>$inuit-base-font-size</code>. This
    is useful for things like intro text etc. You can control the amount of that increase with the <code>$inuit-lede-size</code>
    variable.</p>
