---
title: "_base.lists.scss"
source: "https://github.com/inuitcss/base.lists/blob/master/_base.lists.scss"


author: "Harry Roberts"
author_url: "https://github.com/csswizardry"


package_name: "inuit-lists"
version: "0.1.0"

required: false
dependences: []
usages: [
]
---


<p>Provides very basic styling for lists (ul and ol)</p>


