---
title: "_generics.md_icon.scss"
source: "https://github.com/a73-inuit/generics.md-icon/blob/master/_generics.md_icon.scss"

author: "Rodrigo Erades"
author_url: "https://github.com/area73"

required: false
dependences: []

usages: [
{name: "a73-inuit-md-icon-objects", url: "objects.md-icon.html"}
]

package_name: "a73-inuit-md-icon-generics"
version: "0.1.7"

---

<p>The inuitcss md-icon module is used to generate font-face for MArerial Design Font.</p>
<p>Please don't forget to include also in your project the <a href="https://github.com/google/material-design-icons/tree/master/iconfont" target="_blank">Material Design Fonts</a></p>


