---
title: "_generic.normalize.scss"
source: "https://github.com/inuitcss/generic.normalize/blob/master/_generic.normalize.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"}
]

usages: [

]

package_name: "inuit-normalize"
version: "3.0.3"

---

<p>Based on <a href="https://necolas.github.io/normalize.css/" target="_blank">Nicolas Gallagher</a> Normalize work</p>

<p>Makes browsers render all elements more consistently and in line with modern standards. It precisely
    targets only the styles that need normalizing.</p>


