---
title: "_generic.box-sizing.scss"
source: "https://github.com/inuitcss/generic.box-sizing/blob/master/_generic.box-sizing.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: []

usages: [

]

package_name: "inuit-box-sizing"
version: "0.2.0"

tab_settings: "generic.box-sizing--settings"
---


Set the global <code>box-sizing</code> state to <code>border-box</code>.

<p>http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice</p>
<p>http://paulirish.com/2012/box-sizing-border-box-ftw</p>

