---
title: "_generic.reset.scss"
source: "https://github.com/inuitcss/generic.reset/blob/master/_generic.reset.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: []

usages: [

]

package_name: "inuit-reset"
version: "0.1.1"

---

<p>The inuitcss reset module is a considered approach to resetting elements. It selectively removes margins and paddings
    from certain elements, and provides some sensible defaults for some others.</p>


