---
title: "_generic.shared.scss"
source: "https://github.com/inuitcss/generic.shared/blob/master/_generic.shared.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: []

usages: [

]

package_name: "inuit-shared"
version: "0.1.5"

---

<p>TThe inuitcss shared module contains several high-level rulesets which apply a consistent, shared declaration
    (typically margins) across a number of elements.</p>


