---
title: "_objects.media.scss"
source: "https://github.com/inuitcss/objects.media/blob/master/_objects.media.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"},
{name: "inuit-clearfix", url: "trumps.clearfix.html"}
]
usages: [
    {name: "media-query mixin", url: "tools.responsive.html"},
    {name: "responsive widths", url: "trumps.widths-responsive.html"},
    {name: "responsive spacings" , url: "trumps.spacing-responsive.html"}
]

package_name: "inuit-media"
version: "0.4.2"

tab_markup: "objects.media--markup"
tab_demo: "objects.media--demo"
tab_modifier: "objects.media--modifier"
tab_settings: "objects.media--settings"
---

<p>If you want an image with content right next to it, <code>.media</code> is what you're looking for.</p>

