---
title: "_objects.buttons.scss"
source: "https://github.com/inuitcss/objects.buttons/blob/master/_objects.buttons.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-buttons"
version: "0.4.2"

tab_markup: "objects.buttons--markup"
tab_demo: "objects.buttons--demo"
tab_modifier: "objects.buttons--modifier"
tab_settings: "objects.buttons--settings"
---
<p>The buttons object resets browser default styles and provides basic theming for <code>.btn</code>.</p>
