---
title: "_objects.list-ui.scss"
source: "https://github.com/inuitcss/objects.list-ui/blob/master/_objects.list-ui.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-list-ui"
version: "0.4.1"

tab_markup: "objects.list-ui--markup"
tab_demo: "objects.list-ui--demo"
tab_modifier: "objects.list-ui--modifier"
tab_settings: "objects.list-ui--settings"
---

<p>The list-ui object is a quasi extension of the [list-block](objects.list-block.html) object. It is as blocky as <code>.list-block</code> but introduces a visual division between the list-items via a border between them.</p>

