---
title: "_objects.tabs.scss"
source: "https://github.com/inuitcss/objects.tabs/blob/master/_objects.tabs.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"},
{name: "inuit-normalize", url: "generic.normalize.html"}
]
usages: []

package_name: "inuit-tabs"
version: "0.2.1"

tab_markup: "objects.tabs--markup"
tab_demo: "objects.tabs--demo"
tab_settings: "objects.tabs--settings"
---

<p>The tabs object is very similar to the <a href="objects.pack.html">pack object</a>.</p>
