---
title: "_objects.text-input.scss"
source: "https://github.com/csshugs/objects.text-input/blob/master/_objects.text-input.scss"

author: "Dennis Heibuelt"
author_url: "https://github.com/csshugs"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"}

]
usages: [ ]

package_name: "inuit-text-input"
version: "0.2.0"

tab_markup: "objects.text-input--markup"
tab_demo: "objects.text-input--demo"
tab_modifier: "objects.text-input--modifier"
tab_settings: "objects.text-input--settings"
---

<p>Simple, text-type inputs.</p>

