---
title: "_objects.block.scss"
source: "https://github.com/inuitcss/objects.block/blob/master/_objects.block.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-block"
version: "0.1.2"

tab_markup: "objects.block--markup"
tab_demo: "objects.block--demo"
tab_modifier: "objects.block--modifier"
tab_settings: "objects.block--settings"
---


<p>The block object just puts an image on top of some text content.</p>
