---
title: "_objects.pack.scss"
source: "https://github.com/inuitcss/objects.pack/blob/master/_objects.pack.scss"
author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-pack"
version: "0.1.1"

tab_markup: "objects.pack--markup"
tab_demo: "objects.pack--demo"
tab_modifier: "objects.pack--modifier"
tab_settings: "objects.pack--settings"
---

<p>The pack object spreads items horizontally along the full width of their parent. Each elemtent will get the same width.</p>
