---
title: "_objects.list-bare.scss"
source: "https://github.com/inuitcss/objects.list-bare/blob/master/_objects.list-bare.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"}
]
usages: []

package_name: "inuit--list-bare"
version: "0.3.0"

tab_markup: "objects.list-bare--markup"
tab_demo: "objects.list-bare--demo"
---

<p>The list-bare object just removes the basic list styling like the bullets and the margin.</p>
