---
title: "_objects.layout.scss"
source: "https://github.com/inuitcss/objects.layout/blob/master/_objects.layout.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-functions", url: "tools.functions.html"}
]
usages: []


package_name: "inuit-layout"
version: "0.3.2"

tab_markup: "objects.layout--markup"
tab_demo: "objects.layout--demo"
tab_modifier: "objects.layout--modifier"
tab_settings: "objects.layout--settings"
---

<p>The layout object is the basic grid system. It is used alongside with <a href="trumps.widths.html">trumps.widths</a> and <a href="trumps.widths-responsive.html">trumps.widths-responsive</a>.</p>

