---
title: "_objects.flag.scss"
source: "https://github.com/inuitcss/objects.flag/blob/master/_objects.flag.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-flag"
version: "0.3.2"

tab_markup: "objects.flag--markup"
tab_demo: "objects.flag--demo"
tab_modifier: "objects.flag--modifier"
tab_settings: "objects.flag--settings"
---


<p>The flag object is pretty much the same as the <a href="objects.media.html">media object</a> except that it provides the extra
    functionality of aligning the image vertically with the content.</p>
