---
title: "_objects.list-inline.scss"
source: "https://github.com/inuitcss/objects.list-inline/blob/master/_objects.list-inline.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"}
]
usages: []

package_name: "inuit-list-inline"
version: "0.3.2"

tab_markup: "objects.list-inline--markup"
tab_demo: "objects.list-inline--demo"
tab_settings: "objects.list-inline--settings"
---
<p>The list-inline object displays its list elements as a horizontal row.</p>
