---
title: "_objects.list-block.scss"
source: "https://github.com/inuitcss/objects.list-block/blob/master/_objects.list-block.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-list-block"
version: "0.4.2"

tab_markup: "objects.list-block--markup"
tab_settings: "objects.list-block--settings"
tab_demo: "objects.list-block--demo"
tab_modifier: "objects.list-block--modifier"
---
<p>The list-block object makes a simple list more blocky and gives its items the ability to take more space.</p>
