---
title: "_objects.box.scss"
source: "https://github.com/inuitcss/objects.box/blob/master/_objects.box.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
    {name: "inuit-defaults", url: "settings.default.html"},
    {name: "inuit-functions", url: "tools.functions.html"},
    {name: "inuit-clearfix", url: "trumps.clearfix.html"}
]
usages: []


package_name: "inuit-box"
version: "0.4.4"

tab_markup: "objects.box--markup"
tab_demo: "objects.box--demo"
tab_modifier: "objects.box--modifier"
tab_settings: "objects.box--settings"
---

<p>The box object just boxes off its content. In other words: It gives the element a padding.</p>
