---
title: "_objects.tables.scss"
source: "https://github.com/inuitcss/objects.tables/blob/master/_objects.tables.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"},
{name: "inuit-normalize", url: "generic.normalize.html"},

]
usages: []

package_name: "inuit-tables"
version: "0.2.1"

tab_markup: "objects.tables--markup"
tab_demo: "objects.tables--demo"
tab_modifier: "objects.tables--modifier"
tab_settings: "objects.tables--settings"
---

<p>The tables object provides basic styling for tables.</p>
