---
title: "_settings.md_icon.scss"
source: "https://github.com/a73-inuit/settings.md-icon/blob/master/_settings.md_icon.scss"

author: "Rodrigo Erades"
author_url: "https://github.com/area73"

required: false
dependences: []

usages: [
{name: "a73-inuit-md-icon-objects", url: "objects.md-icon.html"}
]

package_name: "a73-inuit-md-icon-settings"
version: "0.1.7"

tab_settings: "settings.md-icon--settings"

---

<p>The inuitcss md-icon settings is used to content all the settings for Material Design Font object.</p>
<p>Please don't forget to include also in your project the <a href="https://github.com/google/material-design-icons/tree/master/iconfont" target="_blank">Material Design Fonts</a></p>


