---
title: "_settings.responsive.scss"
source: "https://github.com/inuitcss/settings.responsive/blob/master/_settings.responsive.scss"
author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: []
usages: [
        {name: "media-query mixin", url: "tools.responsive.html"},
        {name: "responsive widths", url: "trumps.widths-responsive.html"},
        {name: "responsive spacings" , url: "trumps.spacing-responsive.html"}
]

package_name: "inuit-responsive-settings"
version: "0.1.5"

tab_settings: "settings.responsive--settings"
---


<p>
    This module defines the projects breakpoints for later use in the
    <a href="tools.responsive.html">_tools.responsive</a>,
    the <a href="trumps.widths-responsive.html">responsive widths</a> and
    the <a href="trumps.spacing-responsive.html">responsive spacings</a>.
</p>
