---
title: "_settings.colors.scss"
source: "https://github.com/a73-inuit/settings.z-index/blob/master/_settings.z-index.scss"
author: "Rodrigo Erades"
author_url: "https://github.com/area73"
required: false
dependences: [
]
usages: [
    {name: "z-index tools", url: "tools.z-index.html"},
]
version: 0.1.0
package_name: "a73-inuit-z-index-settings"
---

<p>hasmap with named z-index to use within <a href="tools.z-index.html">z-index tools</a>
<pre class="prettyprint">

$z-index-map: (
        base:       0,
        offcanvas:  1,
        dropdown:   10,
        tooltip:    15,
        lightbox:   500
);


</pre>
