---
title: "_settings.colors.scss"
source: "https://github.com/a73-inuit/settings.colors/blob/master/_settings.colors.scss"
author: "Rodrigo Erades"
author_url: "https://github.com/area73"
required: false
dependences: [
]
usages: [
    {name: "color tools", url: "tools.colors.html"},
]

version: 0.1.0
package_name: "a73-inuit-color-settings"
---

<p>hasmap with named colors to use within <a href="tools.colors.html">color tools</a>
<pre class="prettyprint">

$color-map: (
        white           :#fff       ,
        black           :#000       ,
        gray-10         :#1a1a1a    ,
        gray-20         :#333       ,
        gray-30         :#4d4d4d    ,
        gray-40         :#666       ,
        gray-50         :#7f7f7f    ,
        gray-60         :#999       ,
        gray-70         :#b3b3b3    ,
        gray-80         :#ccc       ,
        gray-90         :#e5e5e5    ,
        primary-lighter     :#fe4c4c    ,
        primary-light       :#ff0f0f    ,
        primary             :#e60000    ,
        primary-dark        :#b20000    ,
        primary-darker      :#750000    ,
        secondary-lighter   :#00cbef    ,
        secondary-light     :#00a0bc    ,
        secondary           :#007c92    ,
        secondary-dark      :#005a6b    ,
        secondary-darker    :#004956    ,
        alert               :red        ,
        warn                :orange     ,
        info                :green      ,
);

</pre>
