---
title: "_settings.default.scss"
author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
source: "https://github.com/inuitcss/settings.defaults/blob/master/_settings.defaults.scss"
required: true
dependences: []
usages: []

package_name: "inuit-defaults"
version: "0.2.3"

tab_settings: "settings.default--settings"
---


<h3>This module is required and must be present in every inuitcss-project.</h3>
<p>It provides the basic framework settings and contains the following variables:</p>
