---
title: "_tools.functions.scss"
source: "https://github.com/inuitcss/tools.functions/blob/master/_tools.functions.scss"


author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

package_name: "inuit-functions"
version: "0.2.0"

required: true
dependences: []
usages: []
tab_settings: "tools.functions--settings"
---

<h3>This module is required and must be present in every inuitcss-project.</h3>

<p>It contains mathematical helpers for later use throughout the framework.</p>
