---
title: "_tools.mixins.scss"
source: "https://github.com/inuitcss/tools.mixins/blob/master/_tools.mixins.scss"
author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: true

package_name: "inuit-mixins"
version: "0.2.3"

dependences: [
{name: "inuit-defaults", url: "settings.default.html"}
]
usages: []
tab_settings: "tools.mixins--settings"
---


<h3>This module is required and must be present in every inuitcss-project.</h3>