---
title: "_tools.push.scss"
source: "https://github.com/csshugs/tools.push/blob/master/_tools.push.scss"


author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-tools-push"
version: "0.1.0"

required: false
dependences: [

]
usages: [
{name: "inuit-push", url: "trumps.push.html"},
]
tab_settings: "tools.push--settings"
---

<p>Generate a series of classes in the format <code>.u-pull-7/12</code> to be used for push elements to the right.</p>
