---
title: "_tools.responsive.scss"
source: "https://github.com/inuitcss/tools.responsive/blob/master/_tools.responsive.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

package_name: "inuit-responsive-tools"
version: "0.1.3"

required: false
dependences: [
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
]
usages: []
tab_settings: "tools.responsive--settings"
---
<p>This module contains the media-query mixin. It takes the items of the list from [responsive
    settings](settings.responsive.html) for generating the equivalent media-queries.</p>

<p>
    A simple mixin to quickly generate whole media queries from the aliases and
    conditions defined in <code>_settings.responsive.scss</code>.
</p>