---
title: "_tools.pull.scss"
source: "https://github.com/csshugs/tools.pull/blob/master/_tools.pull.scss"


author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-tools-pull"
version: "0.1.0"

required: false
dependences: [

]
usages: [
{name: "inuit-pull", url: "trumps.pull.html"},
]
tab_settings: "tools.pull--settings"
---

<p>Generate a series of classes in the format <code>.u-pull-7/12</code> to be used for pulling elements to the right.</p>
