---
title: "_trumps.helper.responsive-float.scss"
source: "https://github.com/csshugs/trumps.helper.font-weight-responsive/blob/master/_trumps.helper.font-weight-responsive.scss"
author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-responsive-font-weight"
version: "0.2.0"


dependences: [
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"}
]

tab_markup: "trumps.font-weight-responsive--markup"
tab_settings: "trumps.font-weight-responsive--settings"
---

<p>Handy trump to setup font weight responsive</p>
