---
title: "_trumps.print.scss"
source: "https://github.com/inuitcss/trumps.print/blob/master/_trumps.print.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: []
usages: [
]

package_name: "inuit-print"
version: "0.0.2"

---
<p>TThe inuitcss print module is a very crude, very basic reset-like module for print styles. It borrows basic rules
    from <a href="https://github.com/h5bp/html5-boilerplate" target="_blank">HTML5 Boilerplate</a> .</p>
