---
title: "_trumps.float.scss"
source: "https://github.com/csshugs/trumps.helper.float/blob/master/_trumps.helper.float.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-float"
version: "0.3.0"

tab_markup: "trumps.float--markup"
---
<p>Handy trump to setup float elements left or right</p>
