---
title: "_trumps.spacing.scss"
source: "https://github.com/inuitcss/trumps.spacing/blob/master/_trumps.spacing.scss"


author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-functions", url: "tools.functions.html"}
]
usages: []

package_name: "inuit-spacing"
version: "0.7.0"


tab_markup: "trumps.spacing--markup"
tab_settings: "trumps.spacing--settings"
---
<p>This module provides a few helper classes for margins and paddings.</p>
<p>Just assign these classes to your components however you like:</p>
<pre class="prettyprint">
    {{#html2txt}}
<div class="newsletter-box  u-mb+">
    ...
</div>
    {{/html2txt}}
</pre>

