---
title: "_trumps.font-weight.scss"
source: "https://github.com/csshugs/trumps.helper.font-weight/blob/master/_trumps.helper.font-weight.scss"
author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-font-weight"
version: "0.2.0"

tab_markup: "trumps.font-weight--markup"
tab_settings: "trumps.font-weight--settings"
---

<p>Handy trump to setup font weight</p>
