---
title: "_trumps.helper.responsive-float.scss"
source: "https://github.com/csshugs/trumps.helper.float-responsive/blob/master/_trumps.helper.float-responsive.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-responsive-float"
version: "0.2.0"

dependences: [
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"}
]

tab_markup: "trumps.float-responsive--markup"

---
<p>Responsive floats</p>
