---
title:  "_trumps.push-responsive.scss"
source: "https://github.com/csshugs/trumps.push-responsive/blob/master/_trumps.push-responsive.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"


dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"},
{name: "inuit-push", url: "trumps.push.html"},
{name: "inuit-widths-responsive", url: "trumps.widths-responsive.html"}
]


package_name: "inuit-responsive-push"
version: "0.3.0"

tab_markup: "trumps.push-responsive--markup"

---

<p>A series of responsive push helper classes that you can use to push grid elemtents to the right. Classes can take a fraction-like
format (e.g. <code>.u-push-2/3</code>) or a spoken-word format (e.g. <code>.u-push-2-of-3</code>). Use these in your markup:</p>

<p><strong>Note:</strong> separator for responsive is <strong>"@"</strong></p>
