---
title: "_trumps.helper.text-align-responsive.scss"
source: "https://github.com/csshugs/trumps.helper.text-align/blob/master/_trumps.helper.text-align.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"


dependences: [
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"},

]


package_name: "inuit-responsive-text-align"
version: "0.2.0"

tab_markup: "trumps.text-align-responsive--markup"

---

<p>Text-align responsive helper classes.</p>

