---
title: "_trumps.headings.scss"
source: "https://github.com/inuitcss/trumps.headings/blob/master/_trumps.headings.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false


package_name: "inuit-headings-trumps"
version: "0.1.3"

dependences: [
{name: "inuit-headings", url: "base.headings.html"},
]
tab_markup: "trumps.headings--markup"
tab_demo: "trumps.headings--demo"
---


<p>This module provides abstract classes for each heading-size accordig to <a href="base.headings.html">base.headings</a></p>

<p>Imagine, you've got a heading somewhere on your page with a <code>h1</code>-size, but it must not be an actual <code>h1</code> (e.g. for SEO reasons). You can then do the following:</p>
<pre class="prettyprint">
    {{#html2txt}}
    <h2 class="alpha">Lorem Ipsum</h2>
    {{/html2txt}}
</pre>

