---
title: "_trumps.push.scss"
source: "https://github.com/csshugs/trumps.push/blob/master/_trumps.push.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"


dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-tools-push", url: "tools.push.html"},
{name: "inuit-widths", url: "trumps.widths.html"}
]


package_name: "inuit-push"
version: "0.2.0"

tab_markup: "trumps.push--markup"

---

<p>A series of push helper classes that you can use to push grid elemtents to the right. Classes can take a fraction-like
format (e.g. <code>.u-push-2/3</code>) or a spoken-word format (e.g. <code>.u-push-2-of-3</code>). Use these in your markup:</p>
