---
title: "_trumps.pull-responsive.scss"
source: "https://github.com/csshugs/trumps.pull-responsive/blob/master/_trumps.pull-responsive.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"

package_name: "inuit-responsive-pull"
version: "0.3.0"

dependences: [

{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"},
{name: "inuit-pull", url: "trumps.pull.html"},
{name: "inuit-widths-responsive", url: "trumps.widths-responsive.html"}

]

tab_markup: "trumps.pull-responsive--markup"

---

<p>A series of responsive pull helper classes that you can use to pull grid elemtents to the right. Classes can take a fraction-like
format (e.g. <code>.u-pull-2/3</code>) or a spoken-word format (e.g. <code>.u-pull-2-of-3</code>). Use these in your markup:</p>
<p><strong>Note:</strong> separator for responsive is <strong>"@"</strong></p>



