---
title: "_trumps.hide.scss"
source: "https://github.com/csshugs/trumps.hide/blob/master/_trumps.hide.scss"

author: "Dennis Heibült"
author_url: "https://github.com/csshugs"


package_name: "inuit-hide"
version: "0.2.0"

dependences: [
{name: "responsive-settings", url: "settings.responsive.html"},
{name: "responsive-tools", url: "tools.responsive.html"}
]

tab_markup: "trumps.hide--markup"

---
<p>Handy trump to hide a block or an element</p>


<p>this trump will loop over our breakpoints defined in <a href="_settings.responsive.scss">settings responsive </a> in order to make hiden class for mediaqueries</p>
