---
title: "_trumps.widths.scss"
source: "https://github.com/inuitcss/trumps.widths/blob/master/_trumps.widths.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-tools-widths", url: "tools.widths.html"}
]


package_name: "inuit-widths"
version: "0.4.2"


usages: [
]
tab_markup: "trumps.widths--markup"
tab_settings: "trumps.widths--settings"
---
<p>This module goes hand in hand with the <a href="objects.layout.html">layout module</a>. It serves for telling each
    <code>.layout__item</code> its width within the grid. As long as it's not <code>.layout--auto</code>, every <code>.layout__item</code>
    needs a width class.</p>
