---
title: "_trumps.widths-responsive.scss"
source: "https://github.com/inuitcss/trumps.widths-responsive/blob/master/_trumps.widths-responsive.scss"

author: "Harry Roberts"
author_url: "https://github.com/csswizardry"
required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"},
{name: "inuit-widths", url: "trumps.widths.html"},
{name: "inuit-tools-widths", url: "tools.widths.html"}
]




usages: [
]

package_name: "inuit-responsive-widths"
version: "0.2.2"


tab_markup: "trumps.widths-responsive--markup"
tab_settings: "trumps.widths-responsive--settings"
---
<p>This module provides exactly the same function as <a href=""trumps.widths.html">widths</a>, but for specific breakpoints. It is
    based on the list in <a href="settings.responsive.html">responsive settings</a> and creates individual widths classes for each
    breakpoint availale in that list.</p>
