---
title: "_trumps.spacing-responsive.scss"
source: "https://github.com/inuitcss/trumps.spacing-responsive/blob/master/_trumps.spacing-responsive.scss"


author: "Harry Roberts"
author_url: "https://github.com/csswizardry"

required: false
dependences: [
{name: "inuit-defaults", url: "settings.default.html"},
{name: "inuit-responsive-settings", url: "settings.responsive.html"},
{name: "inuit-responsive-tools", url: "tools.responsive.html"},
{name: "inuit-spacing", url: "trumps.spacing.html"}
]
usages: []

package_name: "inuit-responsive-spacing"
version: "0.0.8"

tab_markup: "trumps.spacing-responsive--markup"
tab_settings: "trumps.spacing-responsive--settings"
---

<p>This module provides exactly the same function as <a href="trumps.spacing.html">spacing</a>, but for specific breakpoints. It is
    based on the list in <a href="settings.responsive.html">responsive settings</a> and creates individual spacing classes for each
    breakpoint availale in that list.</p>

<p>With this possibility you can assign classes like:</p>
<pre class="prettyprint">
{{#html2txt}}
    <div class="newsletter-box  u-mb+  u-palm-mb-">
        ...
    </div>
{{/html2txt}}
</pre>

<p>where the <code>newsletter-box</code> will have an initial large margin-bottom, but for the palm-breakpoint, <code>.u-palm-mb-</code> takes effect (i.e. <code>.u-mb-</code> on <code>palm</code>).</p>
