/*------------------------------------*\
    #MATERIAL DESIGN ICONS
\*------------------------------------*/

/**
 *
 */

// Predefine the variables below in order to alter and enable specific features.

$inuit-md-icon-font-size: 24px;


$inuit-md-icon-left-paddings: true;
$inuit-md-icon-right-paddings: true;
/*
$inuit-md-icon-hrizontal-paddings: (
        flush   : 0,
        tiny    : 3,
        small   : 6,
        large   : 12,
        huge    : 24
);
*/



