<pre class="prettyprint">
    {{#html2txt}}
        <ul class="list-ui">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>
    {{/html2txt}}
</pre>
