<p>The basic markup will always be as follows:</p>
<pre class="prettyprint">
    {{#html2txt}}
<div class="pack">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>
    {{/html2txt}}
</pre>
