<pre class="prettyprint">
    {{#html2txt}}
<ul class="list-block">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>
    {{/html2txt}}
</pre>
