
<p>The basic markup will always be as follows:</p>
<pre class="prettyprint">
    {{#html2txt}}
<div class="block">
    <img class="block__img" src="some-image.jpg">
    <p class="block__body">Lorem ipsum dolor sit amet.</p>
</div>
    {{/html2txt}}
</pre>