<pre class="prettyprint">
{{#html2txt}}
<ul class="tabs">
    <li class="tabs__item">
        <a href="#" class="tabs__link">Foo</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Bar</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Baz</a>
    </li>
</ul>
{{/html2txt}}
</pre>

<code>.tabs__link</code> can be omitted. It just sets the link to <code>display: block</code>.
