<pre class="prettyprint">
    {{#html2txt}}
<div>
    <p class="u-text-left-desk">Lorem Ipsum</p>
    <p class="u-text-right-lap">Lorem Ipsum</p>
    <p class="u-text-center-lap-and-up">Lorem Ipsum</p>
</div>
    {{/html2txt}}
</pre>
