<pre class="prettyprint">
    {{#html2txt}}
<div>
    <div class="u-float-left">
         Float Right
    </div>
    <div class="u-float-none">
        Float none
    </div>
    <div class="u-float-right">
        Float Left
    </div>
</div>
    {{/html2txt}}
</pre>

