<pre class="prettyprint">
    {{#html2txt}}

<div class="layout">
    <div class="layout__item  u-1/3-palm  u-1/4-desk">
        Foo
    </div>
    <div class="layout__item  u-1/3-palm  u-1/2-desk">
        Bar
    </div>
    <div class="layout__item  u-1/3-palm  u-1/4-desk">
        Baz
    </div>
</div>
    {{/html2txt}}
</pre>

<p>The class names distinguish itselves from <a href="trumps.widths.html">widths </a> by a breakpoint suffix such as
    <code>.u-1/3-palm</code>.</p>

