<pre class="prettyprint">
    {{#html2txt}}
<div>
    <div class="u-float-left-palm">
         Float Right
    </div>
    <div class="u-float-none-lap">
        Float none
    </div>
    <div class="u-float-right-desk">
        Float Left
    </div>
</div>
    {{/html2txt}}
</pre>

