<pre class="prettyprint">
    {{#html2txt}}
        <h1 class="alpha">Lorem ipsum</h1>
        <h1 class="beta">Lorem ipsum</h1>
        <h1 class="gamma">Lorem ipsum</h1>
        <h1 class="delta">Lorem ipsum</h1>
        <h1 class="epsilon">Lorem ipsum</h1>
        <h1 class="zeta">Lorem ipsum</h1>
    {{/html2txt}}
</pre>


