<pre class="prettyprint">
    {{#html2txt}}
<div class="clearfix">
    <div class="u-float-left">
        ...
    </div>
    <div class="u-float-right">
        ...
    </div>
</div>
    {{/html2txt}}
</pre>
