<pre class="prettyprint">
    {{#html2txt}}
<div>
    <p class="u-text-left">Lorem Ipsum</p>
    <p class="u-text-right">Lorem Ipsum</p>
    <p class="u-text-center">Lorem Ipsum</p>
</div>
    {{/html2txt}}
</pre>
