---
title: "_trumps.widths.scss"
source: "https://github.com/inuitcss/trumps.widths/blob/master/_trumps.widths.scss"
prev: "trumps.spacing-responsive"
next: "trumps.widths-responsive"
---
<pre class="prettyprint">
    {{#html2txt}}

<div class="layout">
    <div class="layout__item  u-1/3">
        Foo
    </div>
    <div class="layout__item  u-1/3">
        Bar
    </div>
    <div class="layout__item  u-1/3">
        Baz
    </div>
</div>
    {{/html2txt}}
</pre>

<p>Here, we are telling each <code>.layout__item</code> to take up a width of <code>1/3</code> (33.333%).</p>

<p>By default inuitcss creates classes for wholes, halves, thirds, quarters and fifths. You can override the map defined
    in this module to add more classes (columns).</p>
