/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

// The main site navigation.
.site-nav{

    @include media-query(portable){
        margin-left:  -$su--small;
        margin-right: -$su--small;

    };

    a{
        display: block;


    }

    &__sub{
        /**/
    }

    &--dark {
        /**/
        a {
            color: rgba($white,0.5);
            &:hover {
                color: $white;
            }
        }
    }

}
