<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <title>{{#is title "Inuit Village"}}{{else}}inuit Village | {{/is}}{{title}}</title>

    <meta name="description"
          content="inuit Vilage lists you all modules of inuitcss and helps you getting started with the framework.">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0">


    <!-- build:[href] assets/img/favicon.png -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png"/>
    <!-- /build -->

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
            crossorigin="anonymous"></script>

    <script src="assets/js/jquery.responsiveTabs.js"></script>

    <script src="assets/js/css-class.debugger.js"></script>

    <script src="assets/js/main.js"></script>
    <!--
    <script id="dsq-count-scr" src="//inuitvillage.disqus.com/count.js" async></script>
    <a href="http://localhost:8000/trumps.push.html">link</a>
    -->

    <!-- build:css assets/css/style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /build -->


</head>
<body>

<a href="https://github.com/inuit-village/inuit-village">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2;"
          src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
          alt="Fork me on GitHub"
          data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
</a>

<header class=" page-head page-head--sticky">
    <div class=" o-page-wrap  clearfix ">
        <div class="layout">
            <div class="layout__item u-2/3">
                <h1 class=" page-head__title ">
                    <a class="page-head__link" href="index.html">Inuit Village</a>
                </h1>
                <!-- <a class=" site-nav-trigger  u-float-right " href="#site-nav"></a> -->
            </div>
            <div class="layout__item u-1/3 ">
                <img src="assets/img/inuit-village2.png" class="page-head__logo u-float-right ">
            </div>
        </div>
    </div>
</header>
