
<p>The buttons object provides the following modifiers:</p>
<ul>
<li><code>.btn--small</code></li>
<li><code>.btn--large</code></li>
<li><code>.btn--full</code></li>
<li><code>.btn--pill</code></li>
</ul>

<p><code>.btn--small</code> and <code>.btn--large</code> vary the size of <code>.btn</code>. Each one has its own dedicated variable to control that size:</p>
<pre class="prettyprint">
$inuit-btn-padding--small:  halve($inuit-btn-padding) !default;
$inuit-btn-padding--large:  double($inuit-btn-padding) !default;
</pre>

<p><code>.btn--full</code> stretches the button along the full available width.</p>

<p><code>.btn--pill</code> rounds the ends of the button.</p>
