
<p>The list-ui object provides the following modifiers:</p>
<ul>

</ul>
<li><code>.list-ui--tiny</code></li>
<li><code>.list-ui--small</code></li>
<li><code>.list-ui--large</code></li>
<li><code>.list-ui--huge</code></li>

<p><code>.list-ui--tiny</code>, <code>.list-ui--small</code>, <code>.list-ui--large</code>, <code>.list-ui--huge</code> all vary the padding for <code>.list-ui__item</code>. Each one has its own dedicated variable to control that spacing:</p>
<pre class="prettyprint">
$inuit-list-ui-padding--tiny: quarter($inuit-list-ui-padding) !default;
$inuit-list-ui-padding--small: halve($inuit-list-ui-padding) !default;
$inuit-list-ui-padding--large: double($inuit-list-ui-padding) !default;
$inuit-list-ui-padding--huge: quadruple($inuit-flag-gutter) !default;
</pre>
