<p>The flag object provides the following modifiers:</p>
<ul>
    <li><code>.o-text-input--small </code> (Compressed text inputs)</li>
    <li><code>.o-text-input--large</code> (Tall text inputs)</li>

</ul>

