<h3>The md-icon object provides the following modifiers:</h3>
<p>For adding left padding</p>
<ul>
    <li><code>md-icon--tiny-left</code></li>
    <li><code>md-icon--small-left</code></li>
    <li><code>md-icon--large-left</code></li>
    <li><code>md-icon--huge-left</code></li>
</ul>


<p>For adding right padding</p>
<ul>
    <li><code>md-icon--tiny-right</code></li>
    <li><code>md-icon--small-right</code></li>
    <li><code>md-icon--large-right</code></li>
    <li><code>md-icon--huge-right</code></li>
</ul>


<p>For displaying icon on top</p>
<ul>
    <li><code>md-icon--top</code></li>
</ul>

<p>you can use the paddings if you explicit declare the variables to true</p>
<pre class="prettyprint">
$inuit-md-icon-left-paddings: false !default;
$inuit-md-icon-right-paddings: false !default;
</pre>
