{{> _page-head}}




<div class="o-page-wrap o-page-wrap--main-w-sticky">
    <div class=" layout  layout--rev">
        <div class=" layout__item  u-4/5  u-1/1-portable  u-mb++ ">
            <h1 class="u-mb0">{{title}}</h1>
            {{> _legend }}
            {{>body}}
            {{#prettify}}{{> _tabs}}{{/prettify}}
            {{> _comments}}
        </div>
        <div class=" layout__item  u-1/5  u-hide-portable ">
            {{> _site-nav modules}}
        </div>
    </div>
</div>


{{> _page-foot}}


<!-- build:remove -->
<script type="text/javascript">document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
<!-- /build -->
</body>
</html>
