<p>If we have included this file, set a variable to tell the rest of the framework that global <code>box-sizing:
    border-box</code>
    has been set.</p>


<pre class="prettyprint">
$inuit-global-border-box: true;
</pre>
