

<p>You can alter the gap between <code></code>.block__img</code> and <code>.block__body</code> with the <code>$inuit-block-gutter</code> variable:</p>
<pre class="prettyprint">
$inuit-block-gutter:    $inuit-base-spacing-unit*2;
</pre>
