<p>You can alter the padding of each <code>list-block__item</code>with the <code>$inuit-list-block-padding</code>variable:</p>
<pre class="prettyprint">
$inuit-list-block-namespace:        $inuit-namespace !default;

$inuit-list-block-padding:          $inuit-base-spacing-unit !default;
$inuit-list-block-padding--tiny:      quarter($inuit-list-block-padding) !default;
$inuit-list-block-padding--small:       halve($inuit-list-block-padding) !default;
$inuit-list-block-padding--large:      double($inuit-list-block-padding) !default;
$inuit-list-block-padding--huge:    quadruple($inuit-list-block-padding) !default;

$inuit-enable-list-block--tiny:     false !default;
$inuit-enable-list-block--small:    false !default;
$inuit-enable-list-block--large:    false !default;
$inuit-enable-list-block--huge:     false !default;
</pre>
