<p>You can set modifiers for left and right paddings</p>

<pre class="prettyprint">
$inuit-md-icon-font-size: 24px !default;

$inuit-md-icon-left-paddings: false !default;
$inuit-md-icon-right-paddings: false !default;
</pre>


<p>Also you can redefine the $inuit-md-icon-horizontal-paddings MAP  that contains the names for each modifier along with its value</p>

<pre class="prettyprint">
$inuit-md-icon-horizontal-paddings: (
    tiny    : 4px,
    small   : 8px,
    large   : 16px,
    huge    : 32px
);
</pre>
