<p>You can alter the gap between <code>.flag__img</code> and <code>.flag__body</code> with the <code>$inuit-flag-gutter</code> variable:</p>
<pre class="prettyprint">
$inuit-flag-gutter:    $inuit-base-spacing-unit*2;
</pre>

