
<p>You can alter the padding of <code>.box</code> with the <code>$inuit-box-padding</code> variable:</p>
<pre class="prettyprint">

$inuit-box-namespace:       $inuit-namespace !default;

$inuit-box-padding:         $inuit-base-spacing-unit !default;
$inuit-box-padding--tiny:     quarter($inuit-box-padding) !default;
$inuit-box-padding--small:      halve($inuit-box-padding) !default;
$inuit-box-padding--large:     double($inuit-box-padding) !default;
$inuit-box-padding--huge:   quadruple($inuit-box-padding) !default;

$inuit-enable-box--flush:   false !default;
$inuit-enable-box--tiny:    false !default;
$inuit-enable-box--small:   false !default;
$inuit-enable-box--large:   false !default;
$inuit-enable-box--huge:    false !default;
</pre>
