<h3>Settings</h3>
<p>You can alter the gap between <code>.media__img</code> and <code>.media__body</code> with the <code>$inuit-media-gutter</code>
    variable:</p>
<pre class="prettyprint">
$inuit-media-gutter:    $inuit-base-spacing-unit*2;
</pre>