
<p>You can alter the gap between the pack-items with the <code>$inuit-pack-gutter</code> variable:</p>
        <pre class="prettyprint">

$inuit-pack-namespace:      $inuit-namespace !default;

$inuit-pack-gutter:         $inuit-base-spacing-unit !default;
$inuit-pack-gutter--tiny:     quarter($inuit-pack-gutter) !default;
$inuit-pack-gutter--small:      halve($inuit-pack-gutter) !default;
$inuit-pack-gutter--large:     double($inuit-pack-gutter) !default;
$inuit-pack-gutter--huge:   quadruple($inuit-pack-gutter) !default;

$inuit-enable-pack--auto:   false !default;
$inuit-enable-pack--tiny:   false !default;
$inuit-enable-pack--small:  false !default;
$inuit-enable-pack--large:  false !default;
$inuit-enable-pack--huge:   false !default;
$inuit-enable-pack--rev:    false !default;
$inuit-enable-pack--middle: false !default;
$inuit-enable-pack--bottom: false !default;
        </pre>
