<h3>High-level base settings:</h3>

<pre class="prettyprint">

// High-level base settings.
// used in _generics.md-icon
// -------------------------
$inuit-md-font-dir:     '' !default;
$inuit-md-family:       'Material Icons' !default;
$inuit-md-font-name:    'MaterialIcons-Regular' !default;

$inuit-md-namespace: $inuit-namespace !default;

</pre>

