<p>By default inuitcss creates classes for responsive wholes, halves, thirds, quarters and fifths. You can override the
    map defined in this module to add more classes.</p>
<pre class="prettyprint">

$inuit-widths-columns-responsive: (
    1,
    2,
    3,
    4,
    5,
) !default;

</pre>