
<p>In order to use  font weights you will need to override their variable to true </p>

<pre class="prettyprint">
$inuit-enable-font-weight--100:     false !default;
$inuit-enable-font-weight--200:     false !default;
$inuit-enable-font-weight--300:     false !default;
$inuit-enable-font-weight--400:     false !default;
$inuit-enable-font-weight--500:     false !default;
$inuit-enable-font-weight--600:     false !default;
$inuit-enable-font-weight--700:     false !default;
$inuit-enable-font-weight--800:     false !default;
$inuit-enable-font-weight--900:     false !default;
</pre>