
<p>In order to use  font weights you will need to override their variable to true </p>

<pre class="prettyprint">
$inuit-enable-font-weight--responsive--100:     false !default;
$inuit-enable-font-weight--responsive--200:     false !default;
$inuit-enable-font-weight--responsive--300:     false !default;
$inuit-enable-font-weight--responsive--400:     false !default;
$inuit-enable-font-weight--responsive--500:     false !default;
$inuit-enable-font-weight--responsive--600:     false !default;
$inuit-enable-font-weight--responsive--700:     false !default;
$inuit-enable-font-weight--responsive--800:     false !default;
$inuit-enable-font-weight--responsive--900:     false !default;
</pre>