
<p>By default we will create wholes, halves, thirds, quarters, and fifths.</p>
<p>You can create as many columns as you want, predefine this Map to override the number of columns in a row.</p>
<pre class="prettyprint">
    $inuit-widths-columns: (
    1,
    2,
    3,
    4,
    5,
    ) !default;
</pre>