<pre class="prettyprint">
$inuit-enable-responsive-margins:                   false !default;
$inuit-enable-responsive-margins--tiny:             false !default;
$inuit-enable-responsive-margins--small:            false !default;
$inuit-enable-responsive-margins--large:            false !default;
$inuit-enable-responsive-margins--huge:             false !default;

$inuit-enable-responsive-margins--negative:         false !default;
$inuit-enable-responsive-margins--negative-tiny:    false !default;
$inuit-enable-responsive-margins--negative-small:   false !default;
$inuit-enable-responsive-margins--negative-large:   false !default;
$inuit-enable-responsive-margins--negative-huge:    false !default;

$inuit-enable-responsive-margins--none:             false !default;

$inuit-enable-responsive-paddings:                  false !default;
$inuit-enable-responsive-paddings--tiny:            false !default;
$inuit-enable-responsive-paddings--small:           false !default;
$inuit-enable-responsive-paddings--large:           false !default;
$inuit-enable-responsive-paddings--huge:            false !default;

$inuit-enable-responsive-paddings--none:            false !default;
</pre>

<p>Setting everything to true will provide ultimate combination possibilities, but also <strong>bloats your
    output</strong>. Be sure to only enable the classes you really need.</p>


